*{
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#dashboard {
    min-height: 70vh;
    width: 40vw;
    max-width: 500px;
    padding: 40px 20px;
    display: flex;
    border-radius: 40px;
    border: 2px solid rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
    background: rgba(238, 213, 213, 0.3);
}

#dashboard h2 {
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 2rem;
    letter-spacing: 1px;
    font-size: 5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#dashboard table {
    width: 90%;
    margin-top: 5%;
    max-width: 900px;
    align-content: center;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    font-weight: 700;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

#dashboard thead {
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.3);
}

#dashboard th {
    padding: 14px 12px;
    text-align: center;
    font-size: 1rem;
}

#dashboard td {
    padding: 12px;
    text-align: center;
    font-size: 0.95rem;
}

#dash-title{
    border-bottom: 4px solid rgb(255, 255, 255);
}

#dashboard tbody tr:hover {
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
    #dashboard table {
        width: 100%;
    }

    #dashboard h2 {
        font-size: 1.6rem;
    }

    #dashboard th,
    #dashboard td {
        padding: 10px;
        font-size: 0.85rem;
    }
}
@media (max-width: 992px){
    #dashboard{
        width: 90vw;
    }
}