#game{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
body {
  margin: 0;
  height: 100vh;
  background: linear-gradient( 
    450deg,
    #f74848,
    #ffd900,
    #ffff00,
    #00ff00,
    #00fff2,
    #2460d1,
    #fa77e9
  );
  background-size: 1400% 1400%;
  animation: rainbow 4s ease infinite;
}

@media (max-width: 992px) {
  #game{
      flex-direction: column;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
